.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.mangaData {
    display: flex;
    flex-direction: column;
}

.manga_name {
    font-size: var(--font-size-title-large);
    font-weight: bold;
    color: var(--text-color);
}

.author {
    font-size: var(--font-size-title-small);
    font-weight: 700;
    color: #bbb;
}

.statusDot {
    font-size: 24px;
    color: #90ee90;
}