/* Header.module.css */
.headerContainer {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    background-color: hsl(0, 0%, 0%);
    color: #FFFFFF;
}

.searchIcon {
    color: #FFFFFF;
    font-size: 1.5em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.searchIcon:hover {
    color: #FF0037;
}

.searchInput {
    flex-grow: 1;
    background-color: #2c2c2c;
    color: #FFFFFF !important;
    padding: 2px 16px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    max-width: 100%;
    transition: max-width 0.3s ease;
}

.searchInput:focus {
    outline: none;
    max-width: 90%;
}

.avatarIcon {
    width: 1.4em !important;
    height: 1.4em !important;
    color: #fff !important;
    background-color: #000 !important;
    border: 2px solid #fff !important;
    padding: 0 !important;
}