/* SearchBar.module.css */
.searchBarContainer {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #444;
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--bg-data-color);
}
