/* TagsSection.module.css */
.container {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
}

.sectionTitle {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 1em;
    color: #FFFFFF !important;
}

.tagChip {
    background-color: #1E1E1E !important;
    color: #fff !important;
    font-size: 0.8em;
    border-radius: 3px !important;
    margin: 0 1.2em 1.2em 0;
}