/* TagsSection.module.css */
.container {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
}

.tagChip {
    color: #fff !important;
    background-color: var(--bg-data-color) !important;
    font-size: 0.8em;
    border-radius: 3px !important;
    margin: 0 1.2em 1.2em 0;
}