/* index.css */

/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Display&display=swap');

/* Variáveis de cores */
:root {
  --bg-color: #2c2c2c;
  --btn-mangak-color: #FF0037;
  --text-color: #FFFFFF;
  --rating-color: #EC7C01;
  --bg-data-color: #1E1E1E;
  --status-green: #40FF00;
  --status-red: #FF0000;
  --status-yellow: #FFE100;

  /* Tipografia */
  --font-title: 'DM Serif Display', serif;
  --font-body: 'DM Sans', sans-serif;

  /* Tamanhos de fonte */
  --font-size-title-large: 24px;
  --font-size-title-medium: 20px;
  --font-size-title-small: 18px;
  --font-size-body: 12px;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte e cor de fundo global */
body {
  font-family: var(--font-body);
  color: var(--text-color);
}