/* index.css */
* {
  color: inherit; /* Garanta que elementos herdem a cor definida no componente */
}

body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color); /* Defina --text-color como branco, se não estiver definido */
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

:root {
  --bg-color: #2c2c2c;
  --text-color: #FFFFFF; /* Garante que o texto padrão seja branco */
}
